CWA_API_TOKEN=your_cwa_api_token_here
VITE_WINDY_MAP_API_KEY=your_windy_map_api_key_here
VITE_WINDY_POINT_API_KEY=your_windy_point_api_key_here
VITE_WINDY_WEBCAMS_API_KEY=your_windy_webcams_api_key_here
VITE_WINDY_UNKNOWN_API_KEY=your_windy_unknown_api_key_here
